body {
    display:flex;
    flex-flow: column;
    min-height:100vh;
    justify-content:space-between;
   }

.header {
    background-color:#1F2937;
    font-size:18px;
    color:#E5E7EB;
}

.topbar {
    display:flex;
    justify-content:space-around;

}

a {
    text-decoration:none;
    color:#E5E7EB;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
    font-weight:900;
}

.toptext {
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.toptextsection {
    padding:50px;
    margin:50px;
}

.topunderbar {
    display:flex;
    justify-content:space-evenly;
}

.signupbutton1{
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius:4px;
    border:none;
}

.randominfo {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    flex:1;
}

.cards {
    display:flex;
    border-width:10px;
    border-color:red;
    border-style:solid;
}

.randomheader {
    color:#1F2937;
    font-size:36px;
    font-weight: 900;
}

.randomcontainer {
    display:flex;
    border-width:10px;
    border-color:blue;
    border-style:solid;
 }



.footer {
    flex: 0 0 50px;
}